body{
    background-color: #FFFFFF80;
}

/* shared style */
.primary-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
}

.primary-color{
    color: #252432;
}

.secondary-color{
    color: #4E47FF;
}

.button{
    color: #FFFFFF;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
}

.button:hover{
    color: darkblue;
    background-color: orange;
}



/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding: 50px 0px;
}

nav a{
    text-decoration: none;
    color: #4E47FF;
}

.logo{
    font-size: 34px;
}



/* header style */
.header{
    background-image: url('../images/Hero-bg.png');
}

.heading{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    max-width: 905px;
    margin: 158px auto 37px;
}

/* in figma banner shows 200px padding in bottom, but 200px include 48px of button, thats why i give 200-48=152px bottom padding in banner-content, i think its all right*/

.banner-content{
    text-align: center;
    padding: 0 0 152px;
}



/* See it in action section */
.live-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 120px auto;
}

.action-content{
    max-width: 517px;
}

.action-content-title{
    font-size: 42px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 23px;
}

.action-content-description{
    font-size: 24px;
    opacity: 50%;
    margin-top: 0;
    margin-bottom: 23px;
}

.live-preview-img{
    border-radius: 48px;
}


/* productive users section */
.productive-user{
    max-width: 980px;
    padding: 50px 80px;
    margin: 0 auto;    
    background-color: #4E47FF1A;
    border-radius: 24px;
}

.productive-user-title{
    margin: 0;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.user-number-container{
    display: flex;
    justify-content: space-around;
}

.number-container{
    text-align: center;
}

.user-number{
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}

.user-info{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    margin: 0;
}

/* challange parts */
.challange-part{
    margin: 137px auto;
}
.challange-part h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.challange-part .card{
    background-color:#FFFFFF;
    border: 1px solid #F2EDED;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.137);
    border-radius: 14px;
    padding: 24px;
}

.challange-part .card2{
    margin: 0 20px;
}

.reviewer-info{
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
}

.feedback{
    margin: 24px 0;
}

.review-date{
    color: #B3B3B3;
}

.reviewer-info p{
    margin: 0;
}

.reviewer-img{
    border-radius: 9999px;
}

/* get in touch */
.get-in-touch{
    display: flex;
    justify-content: space-between;
    gap: 115px;
    align-items: center;
    max-width: 1140px;
    margin: 192px auto;
    padding: 0px;
}

.in-touch-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    min-width: 528px;
    margin: 0;
    padding: 0;
}

label, input{
    display: block;
}

form{
    min-width: 497px;
}

input, textarea {
    margin-bottom: 19px;
    padding: 20px 32px;
    width: 433px;
    height: 30px;
    font-size: 20px;
    color:#000000;
    opacity: 50%;
    background-color:#FFFFFF;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}

textarea{
    height: 135px;
}

label{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.bttn{
    width: 497px;
}


/* footer section */
.footer{
    max-width: 1140px;
    max-height: 428px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
}

footer .logo{
    font-size: 100px;
    text-align: center;
}

footer .subtitle{
    color: #8987A1;
    max-width: 531px;
    margin-top: 8px;
    margin-bottom: 20px;
}

footer .links{
    display: flex;
    justify-content: space-around;
    gap: 48px;
    max-width: 531px;
}

.footer .links a{
    color: #8987A1;
    text-decoration: none;
}